/* Style for sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
}

.sidebar.open {
    left: 0;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #ddd;
    color: black;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.openbtn:hover {
    background-color: #444;
}
